Repository Wei93442/TQSFinalProject, pull requests merged in 2021-06, with the labels that each got.

#9 Fix android.yml and build.yml
  .github/workflows/android.yml
  .github/workflows/build.yml
Labels: Hotfix

#28 Fix Diretórios para o Sonarcloud
  .github/workflows/build.yml
Labels: bug

#31 Feature/create easy delivers endpoints
  .github/workflows/build.yml
  EasyDelivers/Platform/EasyDeliversAdmin/pom.xml
  EasyDelivers/Platform/EasyDeliversAdmin/src/main/java/ua/deti/tqs/easydeliversadmin/controller/EasyDeliversRestController.java
  EasyDelivers/Platform/EasyDeliversAdmin/src/main/java/ua/deti/tqs/easydeliversadmin/entities/Delivery.java
  EasyDelivers/Platform/EasyDeliversAdmin/src/main/java/ua/deti/tqs/easydeliversadmin/entities/Rider.java
  EasyDelivers/Platform/EasyDeliversAdmin/src/main/java/ua/deti/tqs/easydeliversadmin/service/EasyDeliversService.java
  EasyDelivers/Platform/EasyDeliversAdmin/src/main/java/ua/deti/tqs/easydeliversadmin/utils/JsonUtil.java
  EasyDelivers/Platform/EasyDeliversAdmin/src/test/java/ua/deti/tqs/easydeliversadmin/EasyDeliversAdminApplicationTests.java
  EasyDelivers/Platform/EasyDeliversAdmin/src/test/java/ua/deti/tqs/easydeliversadmin/controller/EasyDeliversRestControllerTest.java
Labels: Backend, EasyDelivers

#35 Fix build
  .github/workflows/android.yml
  .github/workflows/build.yml
  EasyDelivers/Platform/EasyDeliversAdmin/src/main/java/ua/deti/tqs/easydeliversadmin/controller/EasyDeliversRestController.java
  EasyDelivers/RiderApp/app/src/main/res/layout/activity_sign_up.xml
  EasyDelivers/RiderApp/build.gradle
Labels: Hotfix, Rider's App, bug

#37 Feature/Update README
  LICENSE
  README.md
Labels: documentation, enhancement

#44 client_info
  ProudPapers/app/src/main/java/tqs/proudpapers/controller/ClientController.java
  ProudPapers/app/src/main/java/tqs/proudpapers/entity/Client.java
  ProudPapers/app/src/main/resources/application.yml
  ProudPapers/app/src/main/resources/static/css/main.css
  ProudPapers/app/src/main/resources/templates/account.html
  ProudPapers/app/src/main/resources/templates/commons/common.html
  ProudPapers/app/src/main/resources/templates/index.html
Labels: Backend, Frontend, ProudPapers

#49 Feature/create an account (rider)
  .github/workflows/build.yml
  .gitignore
  EasyDelivers/DBEasyDelivers/init/init.sql
  EasyDelivers/Platform/EasyDeliversAdmin/Dockerfile
  EasyDelivers/Platform/EasyDeliversAdmin/pom.xml
  EasyDelivers/Platform/EasyDeliversAdmin/src/main/java/ua/deti/tqs/easydeliversadmin/controller/EasyDeliversRestController.java
  EasyDelivers/Platform/EasyDeliversAdmin/src/main/java/ua/deti/tqs/easydeliversadmin/entities/Rider.java
  EasyDelivers/Platform/EasyDeliversAdmin/src/main/java/ua/deti/tqs/easydeliversadmin/repository/RiderRepository.java
  EasyDelivers/Platform/EasyDeliversAdmin/src/main/java/ua/deti/tqs/easydeliversadmin/service/EasyDeliversService.java
  EasyDelivers/Platform/EasyDeliversAdmin/src/main/resources/application.properties
  EasyDelivers/Platform/EasyDeliversAdmin/src/test/java/ua/deti/tqs/easydeliversadmin/controller/EasyDeliversRestControllerTest.java
  EasyDelivers/Platform/EasyDeliversAdmin/src/test/java/ua/deti/tqs/easydeliversadmin/repository/RiderRepositoryTest.java
  EasyDelivers/Platform/EasyDeliversAdmin/src/test/java/ua/deti/tqs/easydeliversadmin/service/EasyDeliversServiceTest.java
  EasyDelivers/Platform/EasyDeliversAdmin/src/test/resources/db/migration/V001_INIT.sql
  EasyDelivers/RiderApp/app/build.gradle
  EasyDelivers/RiderApp/app/src/main/AndroidManifest.xml
  EasyDelivers/RiderApp/app/src/main/java/com/example/riderapp/Activities/LoginActivity.java
  EasyDelivers/RiderApp/app/src/main/java/com/example/riderapp/Activities/SignUpActivity.java
  EasyDelivers/RiderApp/app/src/main/java/com/example/riderapp/Classes/User.java
  EasyDelivers/RiderApp/app/src/main/java/com/example/riderapp/Connections/API_Connection.java
  EasyDelivers/RiderApp/app/src/main/java/com/example/riderapp/Connections/API_Service.java
  EasyDelivers/RiderApp/app/src/main/java/com/example/riderapp/LoginSignUpActivity.java
  EasyDelivers/RiderApp/app/src/main/java/com/example/riderapp/MainActivity.java
  EasyDelivers/RiderApp/app/src/main/java/com/example/riderapp/Services/RiderService.java
  EasyDelivers/RiderApp/app/src/main/res/layout/activity_login.xml
  EasyDelivers/RiderApp/app/src/main/res/layout/activity_sign_up.xml
  EasyDelivers/RiderApp/app/src/test/java/com/example/riderapp/ExampleUnitTest.java
  EasyDelivers/RiderApp/app/src/test/java/com/example/riderapp/Services/RiderServiceTest.java
  EasyDelivers/RiderApp/build.gradle
  EasyDelivers/docker-compose.yml
Labels: Backend, EasyDelivers, Frontend, Rider's App

#54 Feature/add to cart purchase
  ProudPapers/app/pom.xml
  ProudPapers/app/src/main/java/tqs/proudpapers/component/LoginHandlerInterceptor.java
  ProudPapers/app/src/main/java/tqs/proudpapers/config/MyConfig.java
  ProudPapers/app/src/main/java/tqs/proudpapers/config/MyMvcConfig.java
  ProudPapers/app/src/main/java/tqs/proudpapers/controller/ClientController.java
  ProudPapers/app/src/main/java/tqs/proudpapers/controller/ProductController.java
  ProudPapers/app/src/main/java/tqs/proudpapers/entity/Cart.java
  ProudPapers/app/src/main/java/tqs/proudpapers/entity/CartDTO.java
  ProudPapers/app/src/main/java/tqs/proudpapers/entity/ClientDTO.java
  ProudPapers/app/src/main/java/tqs/proudpapers/entity/Delivery.java
  ProudPapers/app/src/main/java/tqs/proudpapers/entity/ProductOfCart.java
  ProudPapers/app/src/main/java/tqs/proudpapers/entity/ProductOfCartDTO.java
  ProudPapers/app/src/main/java/tqs/proudpapers/entity/ProductOfCartId.java
  ProudPapers/app/src/main/java/tqs/proudpapers/entity/ProductOfDelivery.java
  ProudPapers/app/src/main/java/tqs/proudpapers/entity/ProductOfDeliveryDTO.java
  ProudPapers/app/src/main/java/tqs/proudpapers/entity/ProductOfDeliveryId.java
  ProudPapers/app/src/main/java/tqs/proudpapers/entity/State.java
  ProudPapers/app/src/main/java/tqs/proudpapers/repository/CartRepository.java
  ProudPapers/app/src/main/java/tqs/proudpapers/repository/ClientRepository.java
  ProudPapers/app/src/main/java/tqs/proudpapers/repository/DeliveryRepository.java
  ProudPapers/app/src/main/java/tqs/proudpapers/repository/ProductRepository.java
  ProudPapers/app/src/main/java/tqs/proudpapers/repository/StateRepository.java
  ProudPapers/app/src/main/java/tqs/proudpapers/service/CartService.java
  ProudPapers/app/src/main/java/tqs/proudpapers/service/ClientService.java
  ProudPapers/app/src/main/java/tqs/proudpapers/service/DeliveryService.java
  ProudPapers/app/src/main/java/tqs/proudpapers/service/ProductService.java
  ProudPapers/app/src/main/java/tqs/proudpapers/service/impl/CartServiceImpl.java
  ProudPapers/app/src/main/java/tqs/proudpapers/service/impl/ClientServiceImpl.java
  ProudPapers/app/src/main/java/tqs/proudpapers/service/impl/DeliveryServiceImpl.java
  ProudPapers/app/src/main/java/tqs/proudpapers/service/impl/ProductServiceImpl.java
  ProudPapers/app/src/main/resources/static/css/main.css
  ProudPapers/app/src/main/resources/static/img/Harry Potter And The Cursed Child.jpg
  ProudPapers/app/src/main/resources/static/img/How the Word Is Passed.jpg
  ProudPapers/app/src/main/resources/static/img/Malibu Rising.jpg
  ProudPapers/app/src/main/resources/static/img/The Last Thing He Told Me.jpg
  ProudPapers/app/src/main/resources/templates/account.html
  ProudPapers/app/src/main/resources/templates/commons/common.html
  ProudPapers/app/src/main/resources/templates/index.html
  ProudPapers/app/src/main/resources/templates/login.html
  ProudPapers/app/src/main/resources/templates/productDetail.html
  ProudPapers/app/src/main/resources/templates/signUp.html
  ProudPapers/app/src/test/java/tqs/proudpapers/cart/CartRepositoryTest.java
  ProudPapers/app/src/test/java/tqs/proudpapers/cart/CartService_WithMock_Test.java
  ProudPapers/app/src/test/java/tqs/proudpapers/client/ClientControllerTest_WithMock.java
  ProudPapers/app/src/test/java/tqs/proudpapers/client/ClientControllerTest_WithMock_Test.java
  ProudPapers/app/src/test/java/tqs/proudpapers/client/ClientController_IT_TEST.java
  ProudPapers/app/src/test/java/tqs/proudpapers/client/ClientRepositoryTest.java
  ProudPapers/app/src/test/java/tqs/proudpapers/client/ClientService_WithMock_Test.java
  ProudPapers/app/src/test/java/tqs/proudpapers/delivery/DeliveryRepositoryTest.java
  ProudPapers/app/src/test/java/tqs/proudpapers/delivery/DeliveryService_WithMock.java
  ProudPapers/app/src/test/java/tqs/proudpapers/product/ProductControllerTest_WithMock.java
  ProudPapers/app/src/test/java/tqs/proudpapers/product/ProductService_WithMock.java
Labels: Backend, Frontend, ProudPapers

#59 Pom version update
  ProudPapers/app/pom.xml
Labels: Backend, ProudPapers, bug

#67 Hotfix/easy delivers docker compose
  EasyDelivers/Platform/EasyDeliversAdmin/Dockerfile
Labels: bug

#75 Feature/swagger api documentation easy delivers
  EasyDelivers/Platform/EasyDeliversAdmin/.idea/sonarlint/issuestore/index.pb
  EasyDelivers/Platform/EasyDeliversAdmin/EasyDeliversAdmin.iml
  EasyDelivers/Platform/EasyDeliversAdmin/pom.xml
  EasyDelivers/Platform/EasyDeliversAdmin/src/main/java/ua/deti/tqs/easydeliversadmin/config/SwaggerConfiguration.java
  EasyDelivers/Platform/EasyDeliversAdmin/src/main/java/ua/deti/tqs/easydeliversadmin/controller/EasyDeliversRestController.java
  EasyDelivers/Platform/EasyDeliversAdmin/src/main/java/ua/deti/tqs/easydeliversadmin/entities/Delivery.java
  EasyDelivers/Platform/EasyDeliversAdmin/src/main/java/ua/deti/tqs/easydeliversadmin/entities/Rider.java
  EasyDelivers/RiderApp/app/src/main/java/com/example/riderapp/Adapters/EncomendasAdapter.java
  EasyDelivers/RiderApp/app/src/main/java/com/example/riderapp/Connections/API_Service.java
  EasyDelivers/RiderApp/app/src/main/java/com/example/riderapp/Fragments/ProfileFragment.java
  EasyDelivers/RiderApp/app/src/main/res/drawable/profile_circular_border_imageview.jpg
  EasyDelivers/RiderApp/app/src/main/res/drawable/profile_circular_border_imageview.png
  EasyDelivers/RiderApp/app/src/main/res/layout/fragment_profile.xml
Labels: documentation

#78 add some new products to db
  ProudPapers/DBproudpapers/init.sql
  ProudPapers/app/src/main/java/tqs/proudpapers/entity/Cart.java
  ProudPapers/app/src/main/resources/static/img/Faber-Castell Fountain Pen, Grip Edition.jpg
  ProudPapers/app/src/main/resources/static/img/Faber-Castell Poly Ball XB Ballpoint Pen.jpg
  ProudPapers/app/src/main/resources/static/img/KALIDI Pencil Case for School and Office.jpg
  ProudPapers/app/src/main/resources/static/img/PILOT G2-7 Gel Pen Set of 4.jpg
  ProudPapers/app/src/main/resources/templates/index.html
  ProudPapers/app/src/main/resources/templates/productDetail.html
  ProudPapers/docker-compose.yml
Labels: enhancement

#77 rider app mark locations
  .gitignore
  EasyDelivers/Platform/EasyDeliversAdmin/.idea/misc.xml
  EasyDelivers/Platform/EasyDeliversAdmin/EasyDeliversAdmin.iml
  EasyDelivers/Platform/EasyDeliversAdmin/src/main/java/ua/deti/tqs/easydeliversadmin/service/EasyDeliversService.java
  EasyDelivers/Platform/EasyDeliversAdmin/src/test/java/ua/deti/tqs/easydeliversadmin/service/EasyDeliversServiceTest.java
  EasyDelivers/Platform/EasyDeliversAdmin/src/test/java/ua/deti/tqs/easydeliversadmin/service/RiderService_UnitTest.java
  EasyDelivers/RiderApp/app/src/main/java/com/example/riderapp/Classes/User.java
  EasyDelivers/RiderApp/app/src/main/java/com/example/riderapp/Fragments/EncomandaInfoFragment.java
  EasyDelivers/RiderApp/app/src/main/java/com/example/riderapp/Fragments/EncomendaMapaFragment.java
  EasyDelivers/RiderApp/app/src/main/java/com/example/riderapp/Utils/GeoUtils.java
  EasyDelivers/RiderApp/app/src/main/res/layout/fragment_encomenda_mapa.xml
Labels: Backend, EasyDelivers, Frontend, Rider's App

#79 rider app notify deliveries
  EasyDelivers/RiderApp/app/build.gradle
  EasyDelivers/RiderApp/app/src/main/java/com/example/riderapp/Adapters/EncomendasAdapter.java
  EasyDelivers/RiderApp/app/src/main/java/com/example/riderapp/Fragments/EncomandaInfoFragment.java
  EasyDelivers/RiderApp/app/src/main/java/com/example/riderapp/MainActivity.java
  EasyDelivers/RiderApp/app/src/main/java/com/example/riderapp/Workers/CheckDeliveriesWorker.java
  EasyDelivers/RiderApp/app/src/main/res/layout/item_row.xml
  EasyDelivers/RiderApp/app/src/main/res/menu/bottom_nav.xml
Labels: EasyDelivers, Rider's App

#81 Update documentation easydelivers
  EasyDelivers/DBEasyDelivers/init/init.sql
  EasyDelivers/Platform/EasyDeliversAdmin/src/main/java/ua/deti/tqs/easydeliversadmin/entities/Delivery.java
  EasyDelivers/Platform/EasyDeliversAdmin/src/main/java/ua/deti/tqs/easydeliversadmin/entities/Rider.java
Labels: documentation

#82 Last enhancement
  ProudPapers/app/src/main/java/tqs/proudpapers/controller/ClientController.java
Labels: ProudPapers

#83 remove some code smells
  ProudPapers/app/src/main/java/tqs/proudpapers/component/LoginHandlerInterceptor.java
  ProudPapers/app/src/main/java/tqs/proudpapers/component/PasswordEncryption.java
  ProudPapers/app/src/main/java/tqs/proudpapers/controller/ClientController.java
  ProudPapers/app/src/main/java/tqs/proudpapers/controller/ProductController.java
  ProudPapers/app/src/main/java/tqs/proudpapers/service/impl/CartServiceImpl.java
  ProudPapers/app/src/main/java/tqs/proudpapers/service/impl/ClientServiceImpl.java
  ProudPapers/app/src/main/java/tqs/proudpapers/service/impl/DeliveryServiceImpl.java
  ProudPapers/app/src/test/java/tqs/proudpapers/controller/ClientController_WithMock_Test.java
Labels: enhancement

#87 rider is able to see is profile information with sucess and fix docker
  EasyDelivers/Platform/EasyDeliversAdmin/pom.xml
  EasyDelivers/Platform/EasyDeliversAdmin/src/main/java/ua/deti/tqs/easydeliversadmin/component/Geocoder.java
  EasyDelivers/Platform/EasyDeliversAdmin/src/main/java/ua/deti/tqs/easydeliversadmin/service/EasyDeliversService.java
  EasyDelivers/RiderApp/app/src/main/AndroidManifest.xml
  EasyDelivers/RiderApp/app/src/main/java/com/example/riderapp/Connections/API_Service.java
  EasyDelivers/RiderApp/app/src/main/java/com/example/riderapp/Fragments/EncomendaMapaFragment.java
  EasyDelivers/RiderApp/app/src/main/java/com/example/riderapp/Fragments/ProfileFragment.java
  EasyDelivers/RiderApp/app/src/main/java/com/example/riderapp/LoginSignUpActivity.java
Labels: EasyDelivers

#88 Removed prints and commented function calls
  EasyDelivers/Platform/EasyDeliversAdmin/.idea/compiler.xml
  EasyDelivers/Platform/EasyDeliversAdmin/EasyDeliversAdmin.iml
  EasyDelivers/Platform/EasyDeliversAdmin/src/main/java/ua/deti/tqs/easydeliversadmin/controller/EasyDeliversController.java
  EasyDelivers/Platform/EasyDeliversAdmin/src/main/java/ua/deti/tqs/easydeliversadmin/service/EasyDeliversService.java
Labels: Backend, EasyDelivers, bug

#96 Change cd
  .github/workflows/CD.yml
  .github/workflows/easydeliversadminCD.yml
  EasyDelivers/Platform/EasyDeliversAdmin/.idea/compiler.xml
  EasyDelivers/Platform/EasyDeliversAdmin/.idea/sonarlint/issuestore/index.pb
  EasyDelivers/Platform/EasyDeliversAdmin/src/main/java/ua/deti/tqs/easydeliversadmin/entities/State.java
  EasyDelivers/RiderApp/app/src/main/AndroidManifest.xml
  EasyDelivers/RiderApp/app/src/main/java/com/example/riderapp/Activities/LoginActivity.java
  EasyDelivers/RiderApp/app/src/main/java/com/example/riderapp/Activities/SignUpActivity.java
  EasyDelivers/RiderApp/app/src/main/java/com/example/riderapp/Classes/User.java
  EasyDelivers/RiderApp/app/src/main/java/com/example/riderapp/Connections/API_Service.java
  EasyDelivers/RiderApp/app/src/main/java/com/example/riderapp/Fragments/EncomandaInfoFragment.java
  EasyDelivers/RiderApp/app/src/main/java/com/example/riderapp/Fragments/EncomendaMapaFragment.java
  EasyDelivers/RiderApp/app/src/main/java/com/example/riderapp/Fragments/ProfileFragment.java
  ProudPapers/app/src/main/resources/application.properties
  ProudPapers/app/src/main/resources/templates/account.html
  ProudPapers/app/src/main/resources/templates/productDetail.html
  ProudPapers/app/src/main/resources/templates/search.html
  ProudPapers/app/src/test/java/tqs/proudpapers/controller/ClientController_WithMock_Test.java
  README.md
Labels: Backend, documentation

#95 Hotfix/docker compose data
  EasyDelivers/DBEasyDelivers/init/init.sql
  EasyDelivers/Platform/EasyDeliversAdmin/EasyDeliversAdmin.iml
  EasyDelivers/Platform/EasyDeliversAdmin/src/main/java/ua/deti/tqs/easydeliversadmin/service/EasyDeliversService.java
  EasyDelivers/Platform/EasyDeliversAdmin/src/test/java/ua/deti/tqs/easydeliversadmin/service/EasyDeliversServiceIT.java
  EasyDelivers/Platform/EasyDeliversAdmin/src/test/java/ua/deti/tqs/easydeliversadmin/service/EasyDeliversServiceTest.java
  EasyDelivers/Platform/EasyDeliversAdmin/src/test/java/ua/deti/tqs/easydeliversadmin/service/RiderService_UnitTest.java
  EasyDelivers/docker-compose.yml
  ProudPapers/app/src/main/java/tqs/proudpapers/controller/ClientController.java
  ProudPapers/app/src/main/java/tqs/proudpapers/service/impl/DeliveryServiceImpl.java
  ProudPapers/app/src/test/java/tqs/proudpapers/controller/ClientController_IT_Test.java
  ProudPapers/docker-compose.yml
Labels: Backend, EasyDelivers, Hotfix, ProudPapers

#97 Updated readme with the last useful links and tester account info
  README.md
Labels: EasyDelivers, ProudPapers, documentation

#100 Added final reports
  documentation/ProductSpecificationReport.pdf
  documentation/QAManual.pdf
Labels: documentation

#102 query proudpapers and app fixes
  EasyDelivers/RiderApp/app/src/main/java/com/example/riderapp/Fragments/EncomandaInfoFragment.java
  EasyDelivers/RiderApp/app/src/main/java/com/example/riderapp/Fragments/EncomendaMapaFragment.java
  EasyDelivers/RiderApp/app/src/main/java/com/example/riderapp/LoginSignUpActivity.java
  EasyDelivers/RiderApp/app/src/main/res/layout/fragment_encomenda_mapa.xml
  ProudPapers/app/src/main/java/tqs/proudpapers/repository/DeliveryRepository.java
  ProudPapers/app/src/test/java/tqs/proudpapers/controller/ClientController_IT_Test.java
  ProudPapers/app/src/test/java/tqs/proudpapers/repository/DeliveryRepository_DockerContainer_Test.java
  README.md
  documentation/Presentation.pdf
  documentation/arch-diagram.drawio
  documentation/arch-diagram.png
  documentation/epic1.drawio
Labels: ProudPapers, Rider's App
